
.parent-form{
    /* position: absolute !important; */
    top: 0;
    left: 0;
    padding: 40px 0 50px 0 !important;
    /* background:#202020; */
 }




@media screen and (max-width:640px){
    .parent-form{
        padding: 15px 0 30px 0 !important;
    }

    .parent-form{
        /* position: absolute !important; */
        padding: 40px 0 50px 0;
        background:#202020;
     }

}