
.title-cards{

    font-size: 0.8rem;
    color: aliceblue;
    font-weight: bold;
}

.card-body2{
    padding: 20px 0 0 9px !important;
    background: #181818 ;
    color: aliceblue;
}

.card-conrtent{
    border: 0 !important;
    margin: 0;

}


/* CardsDesktop  */

.CardsDesktop{
    padding: 0 0 3px 0;
    margin: auto;
}
/* ----------- */